<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <!--<add key="URL" value="https://www.3m.HubServices.com"/>-->
    <!--<add key="URL" value="http://54.85.167.42:8080/api/values" />-->
    <add key="URL" value="http://54.85.167.42:8080" />
    <add key="ClientCertThumbprint" value="‎‎6b78f93c348fa1ca24f37cf78e177990772e1060"/>
    <!--<add key="ClientCertThumbprint" value="‎39E2E35A732DC741296BCDDAE11FBE1EECB5AC45"/>-->
    <add key="AWSS3BucketName" value="ca-devbucket"/>
    <add key="AWSRegion" value="us-east-1"/>
    <add key="AWSEndpointUrl" value="https://ca-devbucket.s3-us-east-1.amazonaws.com/"/>
  </appSettings>
</configuration>
