<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="URL" value="http://www.3m.hubservices.com:8080/" />
    <add key="ServerCertThumbprint" value="‎‎6B4551DBB61C07F587FD0228DD5536B5ED5DCF5A"/>
    <add key="ClientCertThumbprint" value="B24A1B8E9A8812738DC743943BA7F39D6320CC3D"/>
    <!--<add key="ClientCertThumbprint" value="‎39E2E35A732DC741296BCDDAE11FBE1EECB5AC45"/>-->
    <add key="AWSS3BucketName" value="ca-devbucket"/>
    <add key="AWSRegion" value="us-east-1"/>
    <add key="AWSEndpointUrl" value="https://ca-devbucket.s3-us-east-1.amazonaws.com/"/>
  </appSettings>
</configuration>
